header{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.logo{
    display: flex;
    justify-content: center;
    height: 50px;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    cursor: pointer;
}

.contact_button{
    color: white;
    border-radius: 5px;
    padding: 10px;
    background-color: #3DDB76;
    cursor: pointer;
}